/* styles.css */

/* Установить шрифт и цвет фона страницы */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f8f8f8;
}

/* Стили для главного заголовка */
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Стили для каждого блока сорта винограда */
.grape {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.grape:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.grape:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.grape:hover .grape-text {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.grape-text {
  /* ... */
  transition: transform 0.3s ease;
}
/* Стили для изображения в каждом блоке */
.grape img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 100px;
}

/* Стили для названия каждого сорта */
.grape h2 {
  font-size: 24px;
  margin: 0;
}

/* Стили для описания каждого сорта */
.grape p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
}



